
<h1>This is a new Section</h1>
<button>PARCELAMENTO</button>

{% schema %}
{
    "name": "Liquid Reference",
    "settings": [
    {
        "id": "liquid-ref",
        "type": "text",
        "label": "Shopify Liquid Reference"
    }
    
    ],
     "presets": [
    {
        "name":"Liquid Reference",
        "category": "Reference"

    }
    ]
}
{% endschema %}